body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    background-color: white;
    border: solid red 5px;

}

footer{
    background-color: red;
}

.logo{
    background-color: red;
    display: inline-block;
    width: auto;
    margin-left: 50px;
    border: solid red;
}

.container{
    max-width: 3000px;
    margin: 0 auto;
    padding: 30px;
    color: black;
    background-color: white;
}

header nav{
    display: inline-block;
    margin-left: 50px;
}

header nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header nav ul li{
    float: left;
    margin-right: 50px;
    font-family: "Britannic Bold";
    font-size: x-large;
    background-color: white;
    border: white
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Verdana";
    background-color: white;
    font-color: white;
}

a {
color: crimson;
}

h1{
    color: red;
    font-family:"Alien Encounters";
}

footer {
    background-color: white;
    border: solid red 5px;
    display: inline-block;
    list-style-type: none;
    alignment-baseline: center;
    margin-left: 190px;
}

.footer-menu{
    display: inline-block;
    margin: 20px;
    vertical-align: text-top;
    font-style: inherit;



}

.footer-menu nav a {
    display: block;
    text-emphasis-color: crimson;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}






